@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* 
.scene {
  border: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
  width: 350px;
  height: 800px;
  margin: 80px auto;
  perspective: 1000px;
}

.menuCard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.menuCard_Cell {
  position: absolute;
  width: 340px;
  height: 780px;
  left: 10px;
  top: 10px;
  border: 2px solid white;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}


.menuCard_Cell:nth-child(1) {
  background: hsla(0, 100%, 50%, 0.8);
  transform: translateZ(2px) translateX(0px) rotateY(0deg);
  transform: translateZ(85px) translateX(-320px) rotateY(-150deg);
}
.menuCard_Cell:nth-child(2) {
  background: hsla(40, 100%, 50%, 0.8);
  transform: rotateY(0deg) translateZ(0px);
}
.menuCard_Cell:nth-child(3) {
  background: hsla(80, 100%, 50%, 0.8);
  transform: translateZ(1px) translateX(0px) rotateY(0deg);
  transform: translateZ(85px) translateX(320px) rotateY(150deg);
} */

.scene {
  border: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
  width: 700px;
  height: 800px;
  margin: 80px auto;
  perspective: 1000px;
}

.menuCard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.menuCard_Cell {
  position: absolute;
  width: 680px;
  height: 780px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}
.menuCard_CellOne {
  transform: translateX(-170px) translateZ(2px) rotateY(-150deg);
}
.menuCard_CellTwo {
  transform: translateX(-170px) translateZ(0px);
}
.menuCard_CellThree {
  transform: translateX(170px) translateZ(1px) rotateY(150deg);
}

.menuCard_CellOne_Half {
  position: absolute;
  border: 2px solid white;
  left: 340px;
  top: 0px;
  width: 340px;
  height: 780px;
  background: hsla(0, 100%, 50%, 0.8);
}
.menuCard_CellTwo_Half {
  position: absolute;
  border: 2px solid white;
  left: 340px;
  top: 0px;
  width: 340px;
  height: 780px;
  background: hsla(40, 100%, 50%, 0.8);
}
.menuCard_CellThree_Half {
  position: absolute;
  border: 2px solid white;
  left: 0px;
  top: 0px;
  width: 340px;
  height: 780px;
  background: hsla(80, 100%, 50%, 0.8);
}
